# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
# [Domain] # PME

# First Hop
## [Server] #wuscdsutl01v
Host [ServerAlias] #wjmp.pme 
    HostName [ServerIP or FQDN] #10.18.72.107 OR wuscdsutl01v.pme.gbl.msidentity.com
    IdentityFile .\.ssh\id_ecdsa

# Second Hop 
## [Server] #SN8LOWUTIL03
Host [ServerAlias] #util3.sn8
    HostName [ServerIP or FQDN]25.87.205.204
    IdentityFile .\.ssh\id_ecdsa
    ProxyCommand ssh -W %h:%p [FirstHopServer] #wjmp.pme # Uses 1st Jmp as proxy

# Third Hop
## [Sever] #SN8LOWLOG01
Host [ServerAlias] #log.sn8
    HostName [ServerIP or FQDN] #192.168.21.111
    IdentityFile .\.ssh\id_ecdsa
    ProxyCommand ssh -W %h:%p [SecondHopServer] #util3.mnz